<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cn"
			 connectionString="Server=DESKTOP-BUUJ9LF\SQLEXPRESS01;Database=ventas_relacional;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>